name: Docker-Image-Pusher
on:
  workflow_dispatch:
  push:
    branches: [ main ]
env:
  ALIYUN_REGISTRY: "${{ secrets.ALIYUN_REGISTRY }}"
  ALIYUN_NAME_SPACE: "${{ secrets.ALIYUN_NAME_SPACE }}"
  ALIYUN_REGISTRY_USER: "${{ secrets.ALIYUN_REGISTRY_USER }}"
  ALIYUN_REGISTRY_PASSWORD: "${{ secrets.ALIYUN_REGISTRY_PASSWORD }}"
jobs:
  build:
    name: sync-image
    runs-on: ubuntu-latest
    steps:
    - name: Setup Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Checkout
      uses: actions/checkout@v4
    - name: Pull Image Then Push To Aliyun
      run: |
        echo "$ALIYUN_REGISTRY_PASSWORD" | docker login -u $ALIYUN_REGISTRY_USER --password-stdin $ALIYUN_REGISTRY
        while read -r line; do
          [ -z "$line" ] && continue
          echo "Processing image: $line"
          image="$line"
          name=$(echo "$image" | awk -F'/' '{print $NF}')
          target_image="$ALIYUN_REGISTRY/$ALIYUN_NAME_SPACE/$name"
          echo "→ Creating multi-arch manifest"
          docker buildx imagetools create --tag "$target_image" "$image"
          echo "✔ Synced: $target_image"
        done < images.txt
